
.side-nav-link{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #BFBFBF;
}

.side-nav-link.active{
    background-color: #BFECC140;
    color: #1A1A1A !important;
    border-left: 2px solid #00B207 !important;
    .side-nav-icon{
        color: #00B207;
    }
    
}